<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a8384d7d-950c-4a7f-988f-e4b728cd6db9" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8384d7d-950c-4a7f-988f-e4b728cd6db9fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
