<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fd2817f0-8cff-4546-8a37-af8f65009a72" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fd2817f0-8cff-4546-8a37-af8f65009a72fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
